@page "/products/maths"

@inject ILogger<Maths> Logger

@rendermode InteractiveAuto

<PageTitle>Maths</PageTitle>


<h1>Maths</h1>

<div class="card">
    <div class="card-header">Calculator</div>
    <div class="card-body">

        <div class="calc">
            <div class="calc-screen">
                <div class="calc-input-top">@input.ExpressionText</div>
                <div class="calc-input">@input.Text</div>
            </div>

            <div style="padding-block:0.5em;">
            </div>

            <div style="padding-block:0.5em;">
                <div class="keys | calc-keys">
                    @foreach (var k in operators)
                    {
                        int count = inputs.Count;

                        <button class="primary calc-key" 
                            @onclick="()=>OnOperatorPress(k.Key)"                              
                            title="@k.Key">
                            <div class="calc-key-wrapper">
                                <div class="calc-key-content">
                                    @if (k.Italic)
                                    {
                                        <i>
                                            @((MarkupString)k.Symbol!)
                                        </i>
                                    }
                                    else
                                    {
                                        @((MarkupString)k.Symbol!)
                                    }
                                    @if (k.Key == Calculator.Key.BracketOpen && count > 0)
                                    {
                                        <sub style="font-size:0.6em;">@count</sub>
                                    }
                                </div>
                            </div>
                        </button>
                    }
                </div>
            </div>

        </div>
    </div>
</div>



@code {
    List<Calculator.KeySymbol> operators = Calculator.Input.KEYS;

    Goke.Calculator.Input input = new();

    Stack<Calculator.Input> inputs = new();
    Calculator.Input? child;

    private void OnOperatorPress(Calculator.Key op)
    {
        if (op == Calculator.Key.BracketOpen)
        {
            var active = inputs.LastOrDefault() ?? input;
            child = active.BracketOpen();
            child.OnBracketClose += (o, e) =>
            {
                child = inputs.Pop();
                child.BracketClose();
                child = inputs.LastOrDefault();
            };
            inputs.Push(child);
        }
        else if (op == Calculator.Key.BracketClose)
        {
            if (inputs.Count > 0)
            {
                child = inputs.Pop();
                child.BracketClose();
                child = inputs.LastOrDefault();
            }
        }
        else
        {
            if (child != null)
            {
                child.SendKey(op);
            }
            else
            {
                input.SendKey(op);
            }
        }

        StateHasChanged();
    }


}